/* CARD */
.event-card {
  width: 220px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #111;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

/* HOVER EFFECT */
.event-card:hover {
  transform: scale(1.05);
}

/* IMAGE */
.event-image {
  width: 100%;
  height: 230px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DETAILS */
.event-details {
  padding: 10px;
  color: white;
}

.event-details h3 {
  font-size: 16px;
  margin: 0;
}

.date {
  font-size: 13px;
  color: #ccc;
}

.venue {
  font-size: 13px;
  color: #999;
}

.price {
  font-size: 14px;
  color: #ff4d4d;
  font-weight: bold;
  margin-top: 5px;
}